.button__container {
    border-radius: 10px;
    background: #3a3a3a;
    padding: 8px 15px;
    cursor: pointer;
}
.button__container:hover {
    background-color: #4a4a4a;
}
.button_flexcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.button_flexcontainer h1 {
    color: #fff;
    font-variant-numeric: lining-nums proportional-nums;
    font-feature-settings: 'dlig' on;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 142%;
    letter-spacing: 0.14px;
}
