.footer_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer_buttons button {
    height: 25px;
    font-family: 'Montserrat';
    color: #FFF;
    font-weight: 400;
    font-size: 14px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}
.footer_buttons button:hover {
    color: #BBB;
}