.exerciseform__section {
    composes: section from '../App.css';
    background: #1d2021;
}

.exerciseform__container {
    composes: container from '../App.css';
    padding-bottom: 50px;
}
.forms__container {
    margin-top: 20px;
}
.forms__container > *:not(:last-child) {
    margin-bottom: 15px;
}
.page_header {
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr;
    padding: 0 10px;
}
.page_header > h1 {
    color: #fff;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-feature-settings: 'dlig' on;
    font-family: 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.24px;
    text-align: left;
    font-size: 30px;
}
.page_header > img {
    margin-left: auto;
}

h2 {
    font-size: 20px;
    font-weight: 500;
}

@media screen and (width <= 768px) {
}

@media screen and (width <= 576px) {
    .page_header > h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 18px;
    }
}
