.form__container {
    width: 390px;
    height: 844px;
    border-radius: 30px;
    background-color: #3A3A3A;
    display: flex;
    flex-direction: column;
    padding-top: 200px;
}
.image_container {
    display: block;
    margin-inline: auto;
}
.form {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 30px;
}

.formField {
    width: 100%;
    max-width: 320px;
    margin: auto;
    margin-bottom: 15px;
    background-color: #565656; /* Чуть менее яркий цвет */
    padding: 10px;
    border-radius: 20px;
    display: block;
}

label {
    display: block;
    font-weight: bold;
    color: white;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}
button {
    width: 300px;
    height: 50px;
    border-radius: 30px;
    background: #FE0A0A;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-inline: auto;
    margin-top: 30px;
    border: none;
}
button > p {
    color: #FFF;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-feature-settings: 'dlig' on;
    font-family: 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 71.429% */
    letter-spacing: 0.28px;
}
button:hover {
    background-color: #d10a0a;
}
.error_message {
    margin-top: 20px;
    color: #FFF;
    font-family: 'Montserrat';
    font-size: 18px;
}
.footer_text {
    text-align: center;
    margin-top: 33px;
}
.flex__container {
    display: flex;
    justify-content: space-between;
    max-width: 290px;
    margin: auto;
}
.noaccount_link {
    color: #CCC7C7;
    font-variant-numeric: lining-nums proportional-nums;
    font-feature-settings: 'dlig' on;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 0.16px;
}
.register_link {
    color: #29E33C;
    font-variant-numeric: lining-nums proportional-nums;
    font-feature-settings: 'dlig' on;
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 111.111% */
    letter-spacing: 0.18px;
}