.mealaddform__container {
    border-radius: 10px;
    width: 100%;
    background: #3a3a3a;
    padding: 15px;
}

.mealaddform__container>div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    /* background: #4f4f4f; */
}

.mealaddform__container input {
    border-radius: 5px;
    border: none;
    height: 25px;
    transition: .4s;
    background-color: white;
}

.mealaddform__container input.incorrect_input {
    transition: .1s;
    color: white;
    background-color: rgb(255, 165, 165);
}

.mealaddform__container input::-webkit-input-placeholder{
    transition: .3s;
}

.mealaddform__container input::-moz-placeholder {
    transition: .3s;
}

.mealaddform__container input.incorrect_input::-webkit-input-placeholder{
    transition: .1s;
    color: white;
}

.mealaddform__container input.incorrect_input::-moz-placeholder {
    transition: .1s;
    color: white;
}


.mealaddform__container label,
.radio_title {
    font-variant-numeric: lining-nums proportional-nums;
    font-feature-settings: 'dlig' on;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 142%;
    /* 142.857% */
    letter-spacing: 0.14px;
    margin-right: 5px;
}

.mealaddform__container input[placeholder] {
    font-variant-numeric: lining-nums proportional-nums;
    font-feature-settings: 'dlig' on;
    font-family: 'Montserrat';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.14px;
    color: #bbbbbb;
}

.mealaddform__container input[value] {
    padding-left: 5px;
    color: #000000;
    width: 100%;
}

.weight>input {
    max-width: 817px;
}

.mealaddform__container .footer_button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mealaddform__container .footer_button button {
    height: 25px;
    font-family: 'Montserrat';
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-size: 14px;
    background: none;
    border: none;
    cursor: pointer;
}

.mealaddform__container .footer_button button:hover {
    color: rgba(255, 255, 255, 1);
}

.mealaddform__container .radio>div {
    display: flex;
    align-items: center;
}

.mealaddform__container .radio>div:not(:last-child) {
    padding-right: 7px;
}

.mealaddform__container .radio input {
    margin-left: 3px;
    width: 15px;
}

.mealaddform__container .error__container {
    justify-content: center;
}

.mealaddform__container .error__container>p {
    color: #fff;
    font-variant-numeric: lining-nums proportional-nums;
    font-feature-settings: 'dlig' on;
    font-family: "Montserrat";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 142%;
    /* 142.857% */
    letter-spacing: 0.14px;
}

.bju__container>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.bju__container {
    gap: 10px;
}