.page-name {
    color: #FFF;

    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-feature-settings: 'dlig' on;
    font-family: "Azeret Mono";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px; /* 62.5% */
    letter-spacing: 0.24px;
}

.page_name {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
  }

.page_name h1 {
    color: #FFF;
    font-size: 24px;
    font-variant-numeric: lining-nums proportional-nums;
    font-feature-settings: 'dlig' on;
    font-family: "Azeret Mono";
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* Изменено на высоту блока */
    text-align: center;
    width: 162px;
    height: 40px;
}

.meal_data {
    border-radius: 10px;
    background: #3A3A3A;
    display: flex;
    margin: 20px;
    min-height: 700px;
    flex-direction: column;
}

.meal_container{
    background: #ffffff;
    display: flex;
    margin: 25px;
    border-radius: 10px;
    flex-direction: column;
    height: fit-content;
    padding: 10px;
}

.meal_item_block {
    display: flex;
    align-items: baseline;
    width: 270px;
}

.meal_item_input {
    height: 25px;
    border: 0;
    background: #fff;
    font-size: 17px;
    font-feature-settings: 'dlig' on;
    font-family: "Azeret Mono";
    font-style: normal;
    letter-spacing: 0.14px;
    max-width: 110px;
    margin: 0;
}

.meal_item_input_big {
    max-width: max-content;
}

.meal_item_radio_button {
    height: 15px;
    margin-bottom: 0;
}

.meal_item_button {
    background-color: transparent;
    color: black;
    font-size: 17px;
    height: 30px;
}

.meal_item_line {
    display: inline;
    margin-right: 5px;
}

.meal_item_label {
    text-wrap: nowrap;
}

.beba {
    flex-grow: 1;
}

.beba_button {
    position: relative;
    box-sizing: border-box;
    text-align: center;;
}
.beba_text {
    position: absolute;
    top: 49%;
    left: 50.35%;
    transform: translate(-50%, -50%);
}
