.mealitem_container {
    background: #3a3a3a;
    width: 100%;
    border-radius: 10px;
    flex-direction: row;
    padding: 10px;
    color: #fff;
    margin-bottom: 10px;
}

.mealitem_container label,
span {
    font-variant-numeric: lining-nums proportional-nums;
    font-feature-settings: 'dlig' on;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 142%; /* 142.857% */
    letter-spacing: 0.14px;
}

.bju__container {
    display: flex;
    flex-direction: row;
}
.bju__container > div:not(:last-child) {
    margin-right: 5px;
}

.meal_buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.meal_buttons button {
    color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0px 5px;
    margin-top: 5px;
}

.meal_buttons button:hover {
    color: rgba(255, 255, 255, 1);
}
