.profile__section {
    composes: section from '../App.css';
    background: #1d2021;
}

.profile__container {
    composes: container from '../App.css';
    padding-bottom: 50px;
}

.profile__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
}

.profile_icon {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
    cursor: pointer;
}

.profile_icon:hover {
    color: rgba(255, 255, 255, 1);
    transform: scale(1.2);
}

.profile_icon:first-child:hover {
    transform: translateX(-5px);
}

.profile-img {
    width: 200px;
}

.userName__container {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 22px;
}