.form__section {
    composes: section from '../App.css';
}

.form__container {
    composes: container from '../App.css';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image_container {
}
.form {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 30px;
}

.formField {
    position: relative;
    width: 400px;
    margin-bottom: 15px;
}

.formField > label {
    display: block;
    font-weight: bold;
    color: white;
}

.formField input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 5px solid #565656;
    border-radius: 15px;
    font-size: 16px;
    outline: none;
}
.form > button {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    background: #fe0a0a;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-inline: auto;
    margin-top: 30px;
    border: none;
}
.button_text {
    color: #fff;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-feature-settings: 'dlig' on;
    font-family: 'Montserrat';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 71.429% */
    letter-spacing: 0.28px;
}
.form > button:hover {
    background-color: #d10a0a;
}
.error_message {
    margin-top: 20px;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 18px;
}

.footer_text {
    text-align: center;
    margin-top: 20px;
}
.flex__container {
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.noaccount_link {
    color: #ccc7c7;
    font-variant-numeric: lining-nums proportional-nums;
    font-feature-settings: 'dlig' on;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 0.16px;
}
.register_link {
    color: #29e33c;
    font-variant-numeric: lining-nums proportional-nums;
    font-feature-settings: 'dlig' on;
    font-family: 'Montserrat';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 111.111% */
    letter-spacing: 0.18px;
}
.passwordIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-35%);
    right: 15px;
    color: rgba(0, 0, 0, 0.6);
    transition: 0.3s;
}

.passwordIcon:hover {
    color: rgba(0, 0, 0, 0.9);
}

@media screen and (width <= 576px) {
    .formField {
        width: 300px;
    }
}
