.start__section {
    composes: section from '../App.css';
    /* background: url('../sources/startpage/background.png'),
        lightgray 50% / cover no-repeat; */
    background: linear-gradient(
        45deg,
        rgb(201, 18, 18),
        #781818,
        #2b0707,
        black,
        #2b0707,
        #781818,
        rgb(201, 18, 18)
    );
}
.start__container {
    composes: container from '../App.css';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heart_image {
    margin-bottom: 10px;
}

.hello_textblock {
    text-align: center;
}

.hello_textblock h1 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
}
.hello_textblock p {
    font-size: 20px;
    padding: 0 5px;
    max-width: 600px;
}
.register_button {
    border-radius: 20px;
    background: #fe0a0a;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    margin-top: 25px;
}
.register_button > p {
    color: #fff;
    padding: 15px 40px;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0.28px;
}

.register_button:hover {
    background-color: #d10a0a;
    transform: scale(1.1);
    font-weight: 600;
}
