.stats__section {
    composes: section from '../App.css';
    background: #1d2021;
    padding-bottom: 70px;
}

.stats__container {
    composes: container from '../App.css';
    display: flex;
    justify-content: baseline;
    /* align-items: center; */
    flex-direction: column;
}

.stats__header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.stats__header > img {
    cursor: pointer;
}

.stats__progress__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.stats__progress {
    margin-bottom: 10px;
}

.stats__subtitle {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 10px;
}

.stats__progress__circle {
    position: relative;
}

.stats__progress__percentages {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chart__coontainer {
    border-radius: 15px;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
}

.chart__coontainer > div {
}
