.tabbar__container {
    max-width: 968px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    background-color: #ce0000;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.5);
}
.tabbar__page {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
    transition: 0.3s;
}
.tabbar__icon {
    font-size: 25px;
    transform: translateY(3px);
}

.page__name {
    font-size: 18px;
    margin-left: 10px;
}

.tabbar__page:hover,
.tabbar__page:active {
    color: rgba(255, 255, 255, 1);
}

/* For large devices */
@media screen and (width <= 992px) {
}

/* For medium devices */
@media screen and (width <= 768px) {
    .page__name {
        font-size: 16px;
        margin-left: 5px;
    }
}

@media screen and (width <= 576px) {
    .tabbar__page {
        flex-direction: column;
    }
    .page__name {
        margin: 0;
        font-size: 12px;
    }
}

@media screen and (width <= 350px) {
}
