* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    color: rgb(255, 255, 255);
}

ul,
ol {
    list-style: none;
}

a,
Link {
    text-decoration: none;
    color: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
    max-width: 100%;
    height: auto;
}

#root {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.section {
    padding: 2rem;
    background-color: rgb(180, 180, 180);
    height: calc(100vh);
}

.container {
    max-width: 968px;
    height: 100%;
    margin: 0 auto;
}

/* =============== BREAKPOINTS =============== */

/* For large devices */
@media screen and (width <= 992px) {
}

/* For medium devices */
@media screen and (width <= 768px) {
}

@media screen and (width <= 576px) {
}

/* For small devices */
@media screen and (width <= 350px) {
}
